<div class="section first">
    <div class="container p-t-30">
        <div class="p-b-60">

        <div class="row p-t-30">
            <div class="col-md-7 col-md-offset-2 tiles white no-padding">
                <%- partial('../partials/register') %>
             </div>
        </div>
        </div>

</div>
</div>