<footer>
    <div class="mo-contentfull content-bg" id="footer-bg">
        <div class="rowfull">
            <div class="left-bg"></div>
            <div class="right-bg"></div>
        </div>
    </div>

    <section class="mo-content social-bg-content">
        <div class="row">
            <div class="large-3 medium-3 columns get-connect medium-potrait-hide small-hide">
                <h6>Get Connected</h6>
            </div>

            <div class="large-9 medium-9 columns medium-potrait-12 social-content">
                <ul class="social-icon cube">
                    <li>
                        <div class="front"><a class="social-facebook" href="#"></a></div>
                        <div class="back"><a class="social-facebook" href="#"></a></div>
                    </li>
                    <li>
                        <div class="front"><a class="social-twitter" href="#"></a></div>
                        <div class="back"><a class="social-twitter" href="#"></a></div>
                    </li>
                    <li>
                        <div class="front"><a class="social-google" href="#"></a></div>
                        <div class="back"><a class="social-google" href="#"></a></div>
                    </li>

                    <li>
                        <div class="front"><a class="social-vimeo" href="#"></a></div>
                        <div class="back"><a class="social-vimeo" href="#"></a></div>
                    </li>

                </ul>
            </div>
        </div>
    </section>

    <section class="mo-content footer-content">
        <div class="row">
            <div class="large-3 medium-3 medium-potrait-12 columns">
                <div class="footer-logo">
                    <a href="index-2.html">
                        <img src="images/logo-footer.png" alt="Maleo Logo" class="retina">
                    </a>
                    <span class="logo-text">&copy; 2014 Maleo, Inc. All rights reserved.</span>
                </div>
            </div>

            <div class="large-3 medium-3 medium-potrait-4 columns">
                <h6 class="heading-footer">Contact Us</h6>
                <ul>
                    <li>For press : </li>
                    <li><a class="maleo-color" href="#">press@maleo.com</a></li>
                    <li>General contact :</li>
                    <li><a class="maleo-color" href="#">hello@maleo.com</a></li>
                </ul>
            </div>

            <div class="large-3 medium-3 medium-potrait-4 columns">
                <h6 class="heading-footer">Quick Links</h6>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Downloads</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Release Updates</a></li>
                </ul>
            </div>

            <div class="large-3 medium-3 medium-potrait-4 columns">
                <h6 class="heading-footer">Address</h6>
                <ul>
                    <li>2158 Madison Avenue </li>
                    <li>Montgomery, AL(Alabama) 36107</li>
                </ul>

                <address>
                    Phone : 444 323 3456 <br>
                    Fax : 444 323 3455 <br>
                </address>
            </div>

            <div class="scroll-top">
                <a id="top" class="scroll"><i class="icon-chevron-up"></i></a>
            </div>
        </div>
    </section>
</footer>