<div class="row">
    <div class="large-3 medium-3 medium-potrait-12 columns logo-content">
        <div class="logo">
            <a href="/">
                <img src="images/logo.png" alt="Seedmybox Logo" class="retina">
            </a>
        </div>
    </div>
        <%- partial("navhome") %>