<div class="large-9 medium-9 medium-potrait-12 small-12 columns search-content">
    <form action="#">
        <div class="input-group">
            <input type="text" name="search" class="form-control input-search" placeholder="search">
            <span class="input-group-addon toggle-search"><i class="icon-search"></i></span>
        </div>
    </form>
</div>
