<div class="section first">
    <div class="container p-t-30">
        <div class="page-header">
            <h1 class="normaltext-center"><span class="p-r-10"> Wiki</span> <small class="p-r-10">  A huge collection of article and tutorials for VPS, Dedicated & Seedbox Clients</small> </h1>
        </div>

    </div>

</div>
<div class="container p-t-30">
    <div class="row">