<section class="mo-contentfull" id="slider-wrapper">
<div class="banner">
<ul>

<!-- slide 1 -->
<li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
<img class="slider1-bg" src="images/slideshow/image1-bg.png" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

<div class="tp-caption fade"
     data-x="-365"
     data-y="0"
     data-start="1500"
     data-speed="1200"
     data-easing="Power2.easeInOut"><img src="images/slideshow/image1-pattern.png" alt="">
</div>

<div class="tp-caption lfb"
     data-x="163"
     data-y="93"
     data-speed="2000"
     data-start="1300"
     data-easing="Power4.easeOut"
     data-endspeed="2000"
     data-endeasing="Power1.easeIn"><img src="images/slideshow/image1-phone1.png" alt="">
</div>

<div class="tp-caption customin"
     data-x="256"
     data-y="192"
     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
     data-speed="800"
     data-start="2400"
     data-easing="Power3.easeIn"
     data-endspeed="450"><img src="images/slideshow/image1-phone2.png" alt="">
</div>

<div class="tp-caption sft"
     data-x="340"
     data-y="460"
     data-speed="4000"
     data-endspeed="1000"
     data-start="2500"
     data-end="2000"
     data-easing="easeOutElastic"
     data-endeasing="easeInExpo">
    <img src="images/slideshow/image1-circle1.png" alt="">
</div>

<div class="tp-caption sft"
     data-x="400"
     data-y="410"
     data-speed="4000"
     data-endspeed="1000"
     data-start="2700"
     data-end="2000"
     data-easing="easeOutElastic"
     data-endeasing="easeInExpo">
    <img src="images/slideshow/image1-circle2.png" alt="">
</div>

<div class="tp-caption sft"
     data-x="420"
     data-y="350"
     data-speed="4000"
     data-endspeed="1000"
     data-start="2900"
     data-end="2000"
     data-easing="easeOutElastic"
     data-endeasing="easeInExpo">
    <img src="images/slideshow/image1-circle3.png" alt="">
</div>

<div class="tp-caption sft"
     data-x="475"
     data-y="310"
     data-speed="4000"
     data-endspeed="1000"
     data-start="3100"
     data-end="2000"
     data-easing="easeOutElastic"
     data-endeasing="easeInExpo">
    <img src="images/slideshow/image1-circle4.png" alt="">
</div>

<div class="tp-caption sft"
     data-x="425"
     data-y="270"
     data-speed="4000"
     data-endspeed="1000"
     data-start="3300"
     data-end="2000"
     data-easing="easeOutElastic"
     data-endeasing="easeInExpo">
    <img src="images/slideshow/image1-circle5.png" alt="">
</div>

<div class="tp-caption sft"
     data-x="480"
     data-y="225"
     data-speed="4000"
     data-endspeed="1000"
     data-start="3500"
     data-end="2000"
     data-easing="easeOutElastic"
     data-endeasing="easeInExpo">
    <img src="images/slideshow/image1-circle6.png" alt="">
</div>

<div class="tp-caption sft"
     data-x="430"
     data-y="145"
     data-speed="4000"
     data-endspeed="1000"
     data-start="3700"
     data-end="2000"
     data-easing="easeOutElastic"
     data-endeasing="easeInExpo">
    <img src="images/slideshow/image1-circle7.png" alt="">
</div>

<div class="tp-caption sft"
     data-x="465"
     data-y="93"
     data-speed="4000"
     data-endspeed="1000"
     data-start="3900"
     data-end="2000"
     data-easing="easeOutElastic"
     data-endeasing="easeInExpo">
    <img src="images/slideshow/image1-circle8.png" alt="">
</div>

<div class="tp-caption sft"
     data-x="400"
     data-y="50"
     data-speed="4000"
     data-endspeed="1000"
     data-start="4100"
     data-end="2000"
     data-easing="easeOutElastic"
     data-endeasing="easeInExpo">
    <img src="images/slideshow/image1-circle9.png" alt="">
</div>

<div class="tp-caption sft"
     data-x="310"
     data-y="-25"
     data-speed="4000"
     data-endspeed="1000"
     data-start="4300"
     data-end="2000"
     data-easing="easeOutElastic"
     data-endeasing="easeInExpo">
    <img src="images/slideshow/image1-circle10.png" alt="">
</div>

<div class="tp-caption sft"
     data-x="242"
     data-y="16"
     data-speed="4000"
     data-endspeed="1000"
     data-start="4500"
     data-end="2000"
     data-easing="easeOutElastic"
     data-endeasing="easeInExpo">
    <img src="images/slideshow/image1-circle11.png" alt="">
</div>

<div class="tp-caption sft"
     data-x="142"
     data-y="5"
     data-speed="4000"
     data-endspeed="1000"
     data-start="4700"
     data-end="2000"
     data-easing="easeOutElastic"
     data-endeasing="easeInExpo">
    <img src="images/slideshow/image1-circle12.png" alt="">
</div>

<div class="tp-caption sft"
     data-x="104"
     data-y="91"
     data-speed="4000"
     data-endspeed="1000"
     data-start="4900"
     data-end="2000"
     data-easing="easeOutElastic"
     data-endeasing="easeInExpo">
    <img src="images/slideshow/image1-circle13.png" alt="">
</div>

<div class="tp-caption sft"
     data-x="30"
     data-y="148"
     data-speed="4000"
     data-endspeed="1000"
     data-start="5100"
     data-end="2000"
     data-easing="easeOutElastic"
     data-endeasing="easeInExpo">
    <img src="images/slideshow/image1-circle14.png" alt="">
</div>

<div class="tp-caption sft"
     data-x="125"
     data-y="180"
     data-speed="4000"
     data-endspeed="1000"
     data-start="5300"
     data-end="2000"
     data-easing="easeOutElastic"
     data-endeasing="easeInExpo">
    <img src="images/slideshow/image1-circle15.png" alt="">
</div>

<div class="tp-caption sft"
     data-x="108"
     data-y="252"
     data-speed="4000"
     data-endspeed="1000"
     data-start="5500"
     data-end="2000"
     data-easing="easeOutElastic"
     data-endeasing="easeInExpo">
    <img src="images/slideshow/image1-circle16.png" alt="">
</div>

<div class="tp-caption sft"
     data-x="26"
     data-y="253"
     data-speed="4000"
     data-endspeed="1000"
     data-start="5700"
     data-end="2000"
     data-easing="easeOutElastic"
     data-endeasing="easeInExpo">
    <img src="images/slideshow/image1-circle17.png" alt="">
</div>

<div class="tp-caption sft"
     data-x="67"
     data-y="318"
     data-speed="4000"
     data-endspeed="1000"
     data-start="5900"
     data-end="2000"
     data-easing="easeOutElastic"
     data-endeasing="easeInExpo">
    <img src="images/slideshow/image1-circle18.png" alt="">
</div>

<div class="tp-caption sft"
     data-x="105"
     data-y="420"
     data-speed="4000"
     data-endspeed="1000"
     data-start="6100"
     data-end="2000"
     data-easing="easeOutElastic"
     data-endeasing="easeInExpo">
    <img src="images/slideshow/image1-circle19.png" alt="">
</div>

<!-- heading caption slider 1 -->
<div class="tp-caption medium_light_white lfb ltb slider1-caption1"
     data-x="620"
     data-y="181"
     data-speed="900"
     data-endspeed="900"
     data-start="4200"
     data-end="8500"
     data-easing="easeOutExpo"
     data-endeasing="easeInExpo">
    <h2 class="uppercase">
        <span class="maleo-color">Experience</span> is what<br>
        brings us to the top
    </h2>
</div>

<div class="caption general_caption lfb ltb tp-rr4 slider1-caption2"
     data-x="624"
     data-y="300"
     data-speed="900"
     data-endspeed="900"
     data-start="4300"
     data-end="8500"
     data-easing="easeOutExpo"
     data-endeasing="easeInExpo">
    <p>
        Mix with science and art, and born the super awesome HTML 5 multipurpose <br>
        template. Suit for any business, make your site look cool.
    </p>
</div>
</li>

<!-- slide 2 -->
<li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
    <img class="slider2-bg" src="images/slideshow/image2-bg.png" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

    <div class="tp-caption fade"
         data-x="-365"
         data-y="0"
         data-start="1200"
         data-speed="1000"
         data-easing="Power2.easeInOut">
        <img src="images/slideshow/image2-overlay.png" alt="">
    </div>

    <div class="tp-caption fade"
         data-x="-365"
         data-y="0"
         data-start="1500"
         data-speed="1000"
         data-easing="Power2.easeInOut">
        <img src="images/slideshow/image2-pattern.png" alt="">
    </div>

    <!-- heading caption slider 2 -->
    <div class="tp-caption finewide_large_white customin customout tp-resizeme slider2-caption1"
         data-x="160" data-hoffset="0"
         data-y="180" data-voffset="-40"
         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="500"
         data-start="500"
         data-easing="Power3.easeInOut"
         data-splitin="chars"
         data-splitout="chars"
         data-elementdelay="0.08"
         data-endelementdelay="0.08"
         data-end="6000"
         data-endspeed="500">
        <h1 class="uppercase mega">Impress Your Visitor</h1>
    </div>

    <div class="tp-caption lfb ltb slider2-caption2"
         data-x="300"
         data-y="270"
         data-speed="1200"
         data-endspeed="900"
         data-start="1700"
         data-end="5000"
         data-easing="easeOutExpo"
         data-endeasing="easeInExpo">
        <h5 class="maleo-color">You never get a second chance to make a first impression</h5>
    </div>
</li>

<!-- slide 3 -->
<li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
    <img class="slider3-bg" src="images/slideshow/image3-bg.png" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

    <div class="tp-caption fade"
         data-x="-365"
         data-y="0"
         data-start="1200"
         data-speed="1000"
         data-easing="Power2.easeInOut">
        <img src="images/slideshow/image3-patern.png" alt="">
    </div>

    <div class="tp-caption lft"
         data-x="524"
         data-y="0"
         data-speed="2000"
         data-start="1300"
         data-end="8500"
         data-easing="Power4.easeOut"
         data-endspeed="2000"
         data-endeasing="Power1.easeIn">
        <img src="images/slideshow/image3-calculator.png" alt="">
    </div>

    <div class="tp-caption lfb"
         data-x="619"
         data-y="255"
         data-speed="2000"
         data-start="1800"
         data-end="8500"
         data-easing="Power4.easeOut"
         data-endspeed="2000"
         data-endeasing="Power1.easeIn">
        <img src="images/slideshow/image3-note.png" alt="">
    </div>

    <div class="tp-caption lft"
         data-x="793"
         data-y="0"
         data-speed="2000"
         data-start="2300"
         data-end="8500"
         data-easing="Power4.easeOut"
         data-endspeed="2000"
         data-endeasing="Power1.easeIn">
        <img src="images/slideshow/image3-book.png" alt="">
    </div>

    <div class="tp-caption lfb"
         data-x="843"
         data-y="382"
         data-speed="2000"
         data-start="2800"
         data-end="8500"
         data-easing="Power4.easeOut"
         data-endspeed="2000"
         data-endeasing="Power1.easeIn">
        <img src="images/slideshow/image3-cup.png" alt="">
    </div>

    <div class="tp-caption customin"
         data-x="695"
         data-y="34"
         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="1000"
         data-start="3000"
         data-end="8500"
         data-easing="Power3.easeIn"
         data-endspeed="450">
        <img src="images/slideshow/image3-eraser.png" alt="">
    </div>

    <div class="tp-caption customin"
         data-x="546"
         data-y="123"
         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="1000"
         data-start="3500"
         data-end="8500"
         data-easing="Power3.easeIn"
         data-endspeed="450">
        <img src="images/slideshow/image3-ruler.png" alt="">
    </div>

    <div class="tp-caption customin"
         data-x="1037"
         data-y="387"
         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="1000"
         data-start="4000"
         data-end="8500"
         data-easing="Power3.easeIn"
         data-endspeed="450">
        <img src="images/slideshow/image3-post-card.png" alt="">
    </div>

    <div class="tp-caption customin"
         data-x="525"
         data-y="256"
         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="1000"
         data-start="4500"
         data-end="8500"
         data-easing="Power3.easeIn"
         data-endspeed="450">
        <img src="images/slideshow/image3-pencil.png" alt="">
    </div>

    <!-- heading caption slider 3 -->
    <div class="tp-caption lft lft slider3-caption1"
         data-x="30"
         data-y="166"
         data-speed="900"
         data-endspeed="900"
         data-start="2500"
         data-end="8500"
         data-easing="easeOutExpo"
         data-endeasing="easeInExpo">
        <h2 class="uppercase">Truly business</h2>
    </div>

    <div class="tp-caption lfb lfb slider3-caption2"
         data-x="30"
         data-y="210"
         data-speed="900"
         data-endspeed="900"
         data-start="2500"
         data-end="8500"
         data-easing="easeOutExpo"
         data-endeasing="easeInExpo">
        <h1 class="uppercase maleo-color mega">Solution</h1>
    </div>

    <div class="tp-caption lfb lfb slider3-button"
         data-x="158"
         data-y="316"
         data-speed="900"
         data-endspeed="900"
         data-start="2500"
         data-end="8500"
         data-easing="easeOutExpo"
         data-endeasing="easeInExpo">
        <a href="#" class="slider-button button">Find out More</a>
    </div>
</li>
</ul>

<div class="tp-bannertimer"></div>
</div>
</section>

<section class="mo-content" id="promo-home">
    <div class="row">
        <div class="large-3 medium-6 small-12 columns mo-animate" data-animate="bounceIn">
            <h2>50k+</h2>
            <p>Sellers we <br>
                have served</p>
        </div>

        <div class="large-3 medium-6 small-12 columns mo-animate" data-animate="bounceIn" data-delay="200">
            <h2>300+</h2>
            <p>Fraud rules <br>
                built over time</p>
        </div>

        <div class="large-3 medium-6 small-12 columns mo-animate" data-animate="bounceIn" data-delay="400">
            <h2>PCI</h2>
            <p>Level 1 <br>
                compliance</p>
        </div>

        <div class="large-3 medium-6 small-12 columns mo-animate" data-animate="bounceIn" data-delay="600">
            <h2>15</h2>
            <p>Years of <br>
                experience</p>
        </div>
    </div>
</section>

<section class="mo-content" id="service">
    <div class="row">
        <div class="large-12 columns text-center">
            <h4 class="title-service mo-animate" data-animate="fadeInDown">Our experience covers various sectors</h4>
            <h6 class="sub-service mo-animate" data-animate="fadeInDown" data-delay="200"><span>We've learnt from some of the best.</span></h6>

            <ul class="large-block-grid-4 medium-block-grid-4 medium-potrait-block-grid-2 no-gutter service-list">
                <li class="mo-animate" data-animate="fadeInDown">
                    <div class="feature">
                        <div class="circle-bg">
                            <i class="small smico-graph"></i>
                        </div>
                        <h6>Business Strategy</h6>
                        <p>Avero eos accusamus iusto odio dignissimos ducimus blanditiis labore</p>
                    </div>
                </li>
                <li class="mo-animate" data-animate="fadeInDown" data-delay="200">
                    <div class="feature">
                        <div class="circle-bg">
                            <i class="small smico-bamboo"></i>
                        </div>
                        <h6>Powerfull UX</h6>
                        <p>Avero eos accusamus iusto odio dignissimos ducimus blanditiis labore</p>
                    </div>
                </li>
                <li class="mo-animate" data-animate="fadeInDown" data-delay="400">
                    <div class="feature">
                        <div class="circle-bg">
                            <i class="small smico-chat"></i>
                        </div>
                        <h6>Social Media</h6>
                        <p>Avero eos accusamus iusto odio dignissimos ducimus blanditiis labore</p>
                    </div>
                </li>
                <li class="mo-animate" data-animate="fadeInDown" data-delay="600">
                    <div class="feature">
                        <div class="circle-bg">
                            <i class="small smico-browser"></i>
                        </div>
                        <h6>Cross Browser Support</h6>
                        <p>Avero eos accusamus iusto odio dignissimos ducimus blanditiis labore</p>
                    </div>
                </li>
                <li class="mo-animate" data-animate="fadeInDown" data-delay="1400">
                    <div class="feature">
                        <div class="circle-bg">
                            <i class="small smico-book"></i>
                        </div>
                        <h6>Great Documentation</h6>
                        <p>Avero eos accusamus iusto odio dignissimos ducimus blanditiis labore</p>
                    </div>
                </li>
                <li class="mo-animate" data-animate="fadeInDown" data-delay="1200">
                    <div class="feature">
                        <div class="circle-bg">
                            <i class="small smico-bank"></i>
                        </div>
                        <h6>Security Protection</h6>
                        <p>Avero eos accusamus iusto odio dignissimos ducimus blanditiis labore</p>
                    </div>
                </li>
                <li class="mo-animate" data-animate="fadeInDown" data-delay="1000">
                    <div class="feature">
                        <div class="circle-bg">
                            <i class="small smico-doc-archive"></i>
                        </div>
                        <h6>Data Archive</h6>
                        <p>Avero eos accusamus iusto odio dignissimos ducimus blanditiis labore</p>
                    </div>
                </li>
                <li class="mo-animate" data-animate="fadeInDown" data-delay="800">
                    <div class="feature">
                        <div class="circle-bg">
                            <i class="small smico-calendar"></i>
                        </div>
                        <h6>Schedule Reports</h6>
                        <p>Avero eos accusamus iusto odio dignissimos ducimus blanditiis labore</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="mo-contentfull" id="company-profile">
    <div class="rowfull">
        <div class="large-6 medium-12 columns mo-animate" data-animate="fadeInLeft">
            <div class="content-box-left company-content">
                <span class="heading-line"></span>
                <h3>Customizable company profiles.</h3>
                <p>Upload your logo and wallpaper, change your colors, add your company details, and show off your space.</p>
                <p>Not only does it only take a few minutes to make your profile sing, but HelloHired automatically works on mobile and tablet devices -- so you can reach a larger audience from anywhere.</p>

                <a href="#" class="button button-border green radius">Sign up - get 2 months free!</a>
            </div>
        </div>

        <div class="image-box-right large-6 medium-12 columns mo-animate" data-animate="fadeInRight">
            <img class="img-shadow" src="images/sample/company-profile.jpg" alt="Company Profile">
        </div>
    </div>
</section>

<div class="mo-contentfull separator-inner">
    <div class="row">
        <hr>
    </div>
</div>

<section class="mo-content" id="feature">
    <div class="row">
        <div class="large-6 medium-6 medium-potrait-12 small-12 columns">
            <div class="feature-right mo-animate" data-animate="fadeInLeft">
                <div class="no-shape">
                    <img class="img-border dark img-circle img-shadow gap" data-top="30" src="images/sample/left-service.jpg" alt="Real time Updates">
                </div>
                <span class="heading-line"></span>
                <h3>Real-time Updates</h3>
                <p>Markets global deliverables bandwidth proactive channels communities drive; world-class. Harness, bandwidth evolve streamline vertical partnerships</p>

                <a class="button link" href="#">Completely synergize resource <i class="icon-chevron-right"></i></a>
            </div>
        </div>

        <div class="large-6 medium-6 medium-potrait-12 small-12 columns">
            <div class="feature-right mo-animate" data-animate="fadeInRight">
                <div class="no-shape">
                    <img class="img-border dark img-circle img-shadow gap" data-top="30" src="images/sample/right-service.jpg" alt="Integrates Everywhere">
                </div>
                <span class="heading-line"></span>
                <h3>Integrated Systems</h3>
                <p>Markets global deliverables bandwidth proactive channels communities drive; world-class. Harness, bandwidth evolve streamline vertical partnerships</p>

                <a class="button link" href="#">Efficiently unleash media <i class="icon-chevron-right"></i></a>
            </div>
        </div>
    </div>
</section>

<section class="mo-content" id="team">
    <div class="overlay"></div>
    <div class="row gap" data-bottom="54">
        <div class="large-4 medium-4 medium-potrait-12 columns mo-animate" data-animate="fadeInLeft">
            <span class="heading-line"></span>
            <h3>Our Squad team</h3>
            <h2 class="maleo-color">is Standing By.</h2>
            <p>
                Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.
            </p>
        </div>
        <div class="large-8 medium-8 medium-potrait-12 columns mo-animate" data-animate="fadeInUp">
            <img src="images/sample/team.png" class="img-right img-team" alt="Maleo Team">
        </div>

        <div class="large-12 columns">
            <hr class="separator-team">
        </div>
    </div>

    <div class="row progress-trigger">
        <div class="large-6 medium-6 medium-potrait-12 columns gap" data-top="10">
            <div class="progress-bar thermo mo-animate" data-animate="fadeInLeft" data-percent="80">
                <div class="progress-content green"></div>
                <span class="progress-title"><i class="colored icon-htmlfive"></i></span>
            </div>

            <div class="progress-bar thermo mo-animate" data-animate="fadeInLeft" data-delay="200" data-percent="90">
                <div class="progress-content green"></div>
                <span class="progress-title"><i class="colored icon-cssthree"></i></span>
            </div>

            <div class="progress-bar thermo mo-animate" data-animate="fadeInLeft" data-delay="400" data-percent="70">
                <div class="progress-content green"></div>
                <span class="progress-title"><i class="colored icon-ruby"></i></span>
            </div>

            <div class="progress-bar thermo mo-animate" data-animate="fadeInLeft" data-delay="600" data-percent="80">
                <div class="progress-content green"></div>
                <span class="progress-title"><i class="colored icon-wordpress"></i></span>
            </div>

            <div class="progress-bar thermo mo-animate" data-animate="fadeInLeft" data-delay="800" data-percent="60">
                <div class="progress-content green"></div>
                <span class="progress-title"><i class="colored icon-jquery"></i></span>
            </div>
        </div>

        <div class="large-6 medium-6 medium-potrait-12 columns mo-animate" data-animate="fadeInRight">
            <span class="heading-line"></span>
            <h3 class="heading-team">Our Little Studio</h3>

            <div id="carousel-team">
                <div class="item">
                    <div class="mo-caption move">
                        <img src="images/sample/studio-pic1.jpg" class="img-border" alt="">
                        <div class="mask"></div>
                        <div class="content">
                            <a href="images/sample/studio-pic1.jpg" class="preview green fancybox" data-fancybox-group="gallery" title="Example of description caption">
                                <i class="icon-search"></i>
                            </a>
                            <a href="portfolio-single.html" class="permalink white"><i class="icon-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="mo-caption move">
                        <img src="images/sample/studio-pic2.jpg" class="img-border" alt="">
                        <div class="mask"></div>
                        <div class="content">
                            <a href="images/sample/p2-thumb.jpg" class="preview green fancybox" data-fancybox-group="gallery" title="Example of description caption">
                                <i class="icon-search"></i>
                            </a>
                            <a href="portfolio-single.html" class="permalink white"><i class="icon-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="mo-caption move">
                        <img src="images/sample/studio-pic3.jpg" class="img-border" alt="">
                        <div class="mask"></div>
                        <div class="content">
                            <a href="images/sample/p3-thumb.jpg" class="preview green fancybox" data-fancybox-group="gallery" title="Example of description caption">
                                <i class="icon-search"></i>
                            </a>
                            <a href="portfolio-single.html" class="permalink white"><i class="icon-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="mo-caption move">
                        <img src="images/sample/studio-pic4.jpg" class="img-border" alt="">
                        <div class="mask"></div>
                        <div class="content">
                            <a href="images/sample/p4-thumb.jpg" class="preview green fancybox" data-fancybox-group="gallery" title="Example of description caption">
                                <i class="icon-search"></i>
                            </a>
                            <a href="portfolio-single.html" class="permalink white"><i class="icon-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="mo-caption move">
                        <img src="images/sample/studio-pic5.jpg" class="img-border" alt="">
                        <div class="mask"></div>
                        <div class="content">
                            <a href="images/sample/p5-thumb.jpg" class="preview green fancybox" data-fancybox-group="gallery" title="Example of description caption">
                                <i class="icon-search"></i>
                            </a>
                            <a href="portfolio-single.html" class="permalink white"><i class="icon-link"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>