<div class="section ">
    <div class="container">
        <div class="p-t-40 p-b-40">
            <h2 class="text-center">Create the <span class="semi-bold">impossible</span>, We’ve <span class="semi-bold">designed everything</span> beyond... <a href="#" class="btn btn-purple btn-lg  btn-large m-r-10">BUY IT NOW</a></h2>
        </div>
    </div>
</div>
<div class="section white ha-waypoint"  data-animate-down="ha-header-color" data-animate-up="ha-header-hide" >
    <div class="container">
        <div class="p-t-60">
            <div class="row">
                <div class="col-md-12 feature-list ">
                    <div class="col-md-4 " data-ride="animated" data-animation="fadeIn" data-delay="300">
                        <h4 class="title">FULL PACKAGE</h4>
                        <p>
                            We combine intelligent thinking with stimulating design to keep your brand engaging and help challenging brands find their clarity.
                        </p>
                    </div>
                    <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="600">
                        <h4 class="title">CUSTOMIZATION</h4>
                        <p>
                            Make any design your own using the Style Editor. Personalize fonts, colors, and layouts to create the custom look you want.
                        </p>
                    </div>
                    <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="900">
                        <h4 class="title">SOCIAL</h4>
                        <p>
                            Import. Sync. Publish. Make your website the center of your online identity on the web with our powerful social integrations.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12 feature-list">
                    <div class="col-md-4 " data-ride="animated" data-animation="fadeIn" data-delay="1200">
                        <h4 class="title">TEMPLATES</h4>
                        <p>
                            Squarespace websites are created with modern browsers and mobile devices in mind. They employ the latest HTML, CSS and Javascript techniques.
                        </p>
                    </div>
                    <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="1500">
                        <h4 class="title">CUSTOMIZATION</h4>
                        <p>
                            Make any design your own using the Style Editor. Personalize fonts, colors, and layouts to create the custom look you want.
                        </p>
                    </div>
                    <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="1800">
                        <h4 class="title">SOCIAL</h4>
                        <p>
                            Import. Sync. Publish. Make your website the center of your online identity on the web with our powerful social integrations.
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="section relative">
                <div class="row">

                    <img src="/images/browser.png" alt="" class="resize p-t-60 col-md-9 hidden-xs" style="" data-ride="animated" data-animation="fadeInUp" data-delay="300">


                    <img src="/images/phone.png"	alt="" class="resize p-t-60 col-md-2 push-bottom hidden-sm hidden-xs visible-lg visible-md" data-ride="animated" data-animation="fadeInRight" data-delay="600" style="right:9%">


                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="section grey">
    <div class="container">
        <div class="p-t-40 p-b-50 ">
            <div class="row">
                <div class="col-md-12">
                    <h2><span class="normal">Make life much easier</span><br>
                        download webarch full package with <span class="normal">frontend</span><button type="button" class="btn btn-primary btn-cons m-l-30">Subscribe</button></h2>
                </div>
            </div>
            <br>
            <div class="row feature-list">
                <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="300">
                    <h4 class="title custom-font">MILLIONS OF POSSIBILITIES</h4>
                    <p class="p-r-50">
                        Hundreds of free desktop apps Enjoy a mobile-like app experience on your PC, with free apps and games like Facebook and Farmville 2.
                    </p>
                </div>
                <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="600">
                    <h4 class="title custom-font">REAL TIME NOTIFICATIONS</h4>
                    <p class="p-r-50">
                        Stay informed with notifications from your favorite apps keeping you up to date on your emails, tweets and more.
                    </p>
                </div>
                <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="900">
                    <h4 class="title custom-font">ONE CLICK AWAY</h4>
                    <p class="p-r-50">
                        Find, organize, and launch your favorite apps, sites, and files faster and easier than ever before.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="section white">
    <div class="container">
        <div class="p-t-60 p-b-50 ">
            <div class="row feature-list">
                <div class="col-md-3 ">
                    <h4 class="custom-font title">CUSTOMERS</h4>
                    <h1 class="custom-font"><span class="number-animator" data-value="4500" data-animation-duration="800">0</span></h1>
                    <div class="col-md-8 no-padding">
                        <div class="progress transparent progress-small no-radius ">
                            <div class="progress-bar progress-bar-black animated-progress-bar " data-percentage="79%"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4 class="custom-font title">SITES</h4>
                    <h1 class="custom-font"><span class="number-animator" data-value="505" data-animation-duration="800">0</span></h1>
                    <div class="col-md-8 no-padding">
                        <div class="progress transparent progress-small no-radius no-margin">
                            <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="45%" ></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4 class="custom-font title">PROJECTS</h4>
                    <h1 class="custom-font"><span class="number-animator" data-value="1500" data-animation-duration="800">0</span></h1>
                    <div class="col-md-8 no-padding">
                        <div class="progress transparent progress-small no-radius no-margin">
                            <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="12%"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4 class="custom-font title">JOBS</h4>
                    <h1 class="custom-font"><span class="number-animator" data-value="14000" data-animation-duration="800">0</span></h1>
                    <div class="col-md-8 no-padding">
                        <div class="progress transparent progress-small no-radius no-margin">
                            <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="85%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section table-layout">
    <div id="working-section" class="table-cell v-middle">
        <div >
            <h2 class="text-white text-center custom-font no-margin">MILLIONS OF SATISFIED CUSTOMERS</h2>
        </div>
    </div>
</div>
