<div class="section first">
    <div class="container p-t-30">
        <div class="page-header">
            <h1 class="normaltext-center"><span class="p-r-10">Pricing and Plans</span> <small class="p-r-10">Simple and clear, no hidden fees</small> </h1>
            <button type="button" class="btn btn-primary btn-cons">Primary</button>
        </div>
        <div class="p-t-10">
            <div class="row m-t-20 m-b-40">
                <div class="col-md-4 m-b-40">
                    <div class="pricing-holder ">
                        <div class="inner">
                            <div class="title">
                                Regular/ <span class="price">20US$</span>
                            </div>
                            <p class="desc">Use, by you or one client, in a single end product which end users are not charged for </p>
                            <p class="desc text-error"><a href="#" class="text-error">Details</a> | <a href="#" class="text-error">Licensing help</a></p>
                            <ul class="items">
                                <li class="available">
                                    <div class="icon-holder">
                                        <i class="fa fa-check text-success "></i>
                                    </div>
                                    <div class="desc">
                                        <span class="text-black">Use in a single end product</span>
                                        <br>
                                        <span class="muted">(single application)</span>
                                    </div>
                                </li>
                                <li class="available">
                                    <div class="icon-holder">
                                        <i class="fa fa-check text-success "></i>
                                    </div>
                                    <div class="desc">
                                        <span class="text-black">Use in a free end product</span>
                                        <br>
                                        <span class="muted">(more than one end user allowed)</span><br>
                                        <span class="muted">(sale to one allowed client)</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon-holder">
                                        <i class="fa fa-times text-error "></i>
                                    </div>
                                    <div class="desc">
                                        <span class="text-black">Use in a end product that's sold</span>
                                        <br>
                                        <span class="muted">(more than one end user allowed)</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon-holder">
                                        <i class="fa fa-times text-error "></i>
                                    </div>
                                    <div class="desc">
                                        <span class="text-black">Use in multiple end products</span>
                                        <br>
                                        <span class="muted">(or multi-domain)</span>
                                    </div>
                                </li>
                            </ul>
                            <button class="btn btn-block btn-danger" type="button">Subscribe</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 m-b-30">
                    <div class="pricing-holder highlighted">
                        <div class="inner">
                            <div class="title">
                                Extended/ <span class="price">1000US$</span>
                            </div>
                            <p class="desc">Use, by you or one client, in a single end product which end users are not charged for </p>
                            <p class="desc text-error"><a href="#" class="text-error">Details</a> | <a href="#" class="text-error">Licensing help</a></p>
                            <ul class="items">
                                <li class="available">
                                    <div class="icon-holder">
                                        <i class="fa fa-check text-success "></i>
                                    </div>
                                    <div class="desc">
                                        <span class="text-black">Use in a single end product</span>
                                        <br>
                                        <span class="muted">(single application)</span>
                                    </div>
                                </li>
                                <li class="available">
                                    <div class="icon-holder">
                                        <i class="fa fa-check text-success "></i>
                                    </div>
                                    <div class="desc">
                                        <span class="text-black">Use in a free end product</span>
                                        <br>
                                        <span class="muted">(more than one end user allowed)</span><br>
                                        <span class="muted">(sale to one allowed client)</span>
                                    </div>
                                </li>
                                <li class="available">
                                    <div class="icon-holder">
                                        <i class="fa fa-check text-success "></i>
                                    </div>
                                    <div class="desc">
                                        <span class="text-black">Use in a end product that's sold</span>
                                        <br>
                                        <span class="muted">(more than one end user allowed)</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon-holder">
                                        <i class="fa fa-times text-error "></i>
                                    </div>
                                    <div class="desc">
                                        <span class="text-black">Use in multiple end products</span>
                                        <br>
                                        <span class="muted">(or multi-domain)</span>
                                    </div>
                                </li>
                            </ul>
                            <button class="btn btn-block btn-primary" type="button">Subscribe</button>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 m-b-30">
                    <div class="pricing-holder">
                        <div class="inner">
                            <div class="title">
                                Custom/ <span class="price text-warning">20US$</span>
                            </div>
                            <p class="desc">Use, by you or one client, in a single end product which end users are not charged for </p>
                            <p class="desc text-error"><a href="#" class="text-error">Details</a> | <a href="#" class="text-error">Licensing help</a></p>
                            <ul class="items">
                                <li class="available">
                                    <div class="icon-holder">
                                        <div class="checkbox check-default">
                                            <input id="checkbox1" type="checkbox" value="1">
                                            <label for="checkbox1"></label>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <label for="checkbox1">
                                            <span class="text-black">Use in a single end product</span>
                                        </label>
                                        <span class="muted">(single application)</span>
                                    </div>
                                </li>
                                <li class="available">
                                    <div class="icon-holder">
                                        <div class="checkbox check-default">
                                            <input id="checkbox2" type="checkbox" value="1">
                                            <label for="checkbox2"></label>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <label for="checkbox2">
                                            <span class="text-black">Use in a free end product</span>
                                        </label>
                                        <span class="muted">(more than one end user allowed)</span><br>
                                        <span class="muted">(sale to one allowed client)</span>
                                    </div>
                                </li>
                                <li class="available">
                                    <div class="icon-holder">
                                        <div class="checkbox check-default">
                                            <input id="checkbox3" type="checkbox" value="1">
                                            <label for="checkbox3"></label>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <label for="checkbox3">
                                            <span class="text-black">Use in a end product that's sold</span>
                                        </label>
                                        <span class="muted">(more than one end user allowed)</span>
                                    </div>
                                </li>
                                <li class="available">
                                    <div class="icon-holder">
                                        <div class="checkbox check-default">
                                            <input id="checkbox4" type="checkbox" value="1">
                                            <label for="checkbox4"></label>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <label for="checkbox4">
                                            <span class="text-black">Use in multiple end products</span>
                                        </label>
                                        <span class="muted">(or multi-domain)</span>
                                    </div>
                                </li>
                            </ul>
                            <button class="btn btn-block btn-warning " type="button">Subscribe</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</div>
