<div class="section white text-center p-t-40 p-b-40" id="banner-footer">
    <h2 class="normal m-b-10">Small + Medium + <span class="semi-bold">Large...</span> Responsive for <span class="semi-bold">every</span> screen!</h2>
    <p>No matter where you go , our product is made to fit any screen.. mobile , tablet and desktop</p>
    <button type="button" class="btn btn-primary btn-cons m-t-10">Learn More</button>
</div>
<div id="cbp-so-scroller" class="cbp-so-scroller section white ha-waypoint"  data-animate-down="ha-header-color" data-animate-up="ha-header-hide">

    <section class="cbp-so-section">
        <figure class="cbp-so-side cbp-so-side-left">
            <img src="/images/Retina.png" alt="img01">
        </figure>
        <article class="cbp-so-side cbp-so-side-right text-center middle">
            <div class="row">
                <div class="col-md-12 p-t-80 col-vlg-8 col-vlg-offset-2">
                    <img src="/images/retina_icon.png" alt="" class="normal">
                    <h1 class="m-b-20"><span class="semi-bold">Retin</span> Ready</h1>
                    <p>Devices with Retina Display are really awesome, the image quality is incredible and this theme is ready to handle this feature. Logo and favicons have the optional retina version and we also offer support to Font Icons, since they are showed with maximum quality in these devices.</p>
                    <button type="button" class="btn btn-primary btn-cons m-t-20">Learn More</button>
                </div>
            </div>
        </article>
    </section>

    <section class="cbp-so-section">
        <article class="cbp-so-side cbp-so-side-left text-center middle">
            <div class="row">
                <div class="col-md-12 p-t-40 col-vlg-8 col-vlg-offset-2">
                    <img src="/images/Stressfree_icon.png" alt="" class="normal">
                    <h1 class="m-b-20">Stress <span class="semi-bold">Free</span> Colors</h1>
                    <p>Color affects the way we feel. It can affect our moods in either a positive or negative manner. After a great research about color stress reduction , our team came up with a perfect color pallet . With the use of Colored overlays we found that the  visual stress is reduced and speed of reading is increased. And the more use of calm colors and less use of bright luminous colors we were able to give our users the best experience of stress free colors.
                    </p>
                    <button type="button" class="btn btn-primary btn-cons m-t-20">Learn More</button>
                </div>
            </div>
        </article>
        <figure class="cbp-so-side cbp-so-side-right">
            <img src="/images/Stressfree.png" alt="img01">
        </figure>
    </section>

    <section class="cbp-so-section">
        <figure class="cbp-so-side cbp-so-side-left">
            <img src="/images/Front.png" alt="img01">
        </figure>
        <article class="cbp-so-side cbp-so-side-right text-center middle">
            <div class="row">
                <div class="col-md-12 p-t-80 col-vlg-8 col-vlg-offset-2">
                    <img src="/images/frontend_icon.png" alt="" class="normal">
                    <h1 class="m-b-20"><span class="semi-bold">All</span> in one!</h1>
                    <p>Devices with Retina Display are really awesome, the image quality is incredible and this theme is ready to handle this feature. Logo and favicons have the optional retina version and we also offer support to Font Icons, since they are showed with maximum quality in these devices.</p>
                    <button type="button" class="btn btn-primary btn-cons m-t-20">Learn More</button>
                </div>
            </div>
        </article>
    </section>

    <section class="cbp-so-section">
        <article class="cbp-so-side cbp-so-side-left text-center middle">
            <div class="row">
                <div class="col-md-12 p-t-80 col-vlg-8 col-vlg-offset-2">
                    <img src="/images/condensed_icon.png" alt="" class="normal">
                    <h1 class="m-b-20"><span class="semi-bold">Condensed</span> menu</h1>
                    <p>Color affects the way we feel. It can affect our moods in either a positive or negative manner. After a great research about color stress reduction , our team came up with a perfect color pallet . With the use of Colored overlays we found that the  visual stress is reduced and speed of reading is increased. And the more use of calm colors and less use of bright luminous colors we were able to give our users the best experience of stress free colors.
                    </p>
                    <button type="button" class="btn btn-primary btn-cons m-t-20">Learn More</button>
                </div>
            </div>
        </article>
        <figure class="cbp-so-side cbp-so-side-right">
            <img src="/images/condensed.png" alt="img01">
        </figure>
    </section>
</div>
<div class="section table-layout">
    <div id="working-section" class="table-cell v-middle">
        <div >
            <h2 class="text-white text-center custom-font  no-margin">MILLIONS OF SATISFIED CUSTOMERS</h2>
        </div>
    </div>
</div>
