<%- partial("mixin/searchtop") %>
<div class="section first">
    <div class="section dark-grey p-t-20  p-b-20 m-b-50">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Frequently Asked Questions</h2>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="container">
        <div class="p-t-60">
            <div class="row">
                <div class="col-md-12 feature-list ">
                    <div class="col-md-4 fadeIn animated" data-ride="animated" data-animation="fadeIn" data-delay="300">
                        <h4 class="title">FULL PACKAGE</h4>

                        <p>
                            We combine intelligent thinking with stimulating design to keep your brand engaging and help
                            challenging brands find their clarity.
                        </p>
                    </div>
                    <div class="col-md-4 fadeIn animated" data-ride="animated" data-animation="fadeIn" data-delay="600">
                        <h4 class="title">CUSTOMIZATION</h4>

                        <p>
                            Make any design your own using the Style Editor. Personalize fonts, colors, and layouts to
                            create the custom look you want.
                        </p>
                    </div>
                    <div class="col-md-4 fadeIn animated" data-ride="animated" data-animation="fadeIn" data-delay="900">
                        <h4 class="title">SOCIAL</h4>

                        <p>
                            Import. Sync. Publish. Make your website the center of your online identity on the web with
                            our powerful social integrations.
                        </p>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-12 feature-list">
                    <div class="col-md-4 fadeIn animated" data-ride="animated" data-animation="fadeIn"
                         data-delay="1200">
                        <h4 class="title">TEMPLATES</h4>

                        <p>
                            Squarespace websites are created with modern browsers and mobile devices in mind. They
                            employ the latest HTML, CSS and Javascript techniques.
                        </p>
                    </div>
                    <div class="col-md-4 fadeIn animated" data-ride="animated" data-animation="fadeIn"
                         data-delay="1500">
                        <h4 class="title">CUSTOMIZATION</h4>

                        <p>
                            Make any design your own using the Style Editor. Personalize fonts, colors, and layouts to
                            create the custom look you want.
                        </p>
                    </div>
                    <div class="col-md-4 fadeIn animated" data-ride="animated" data-animation="fadeIn"
                         data-delay="1800">
                        <h4 class="title">SOCIAL</h4>

                        <p>
                            Import. Sync. Publish. Make your website the center of your online identity on the web with
                            our powerful social integrations.
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</div>
<%- partial("mixin/searchbottom") %>