<%- partial("mixin/searchtop") %>
<div class="section white">
<div class="container">
    <div class="p-t-60">
        <div class="row">
            <div class="col-md-12 feature-list ">
                <div class="col-md-4">
                    <h4 class="title">FULL PACKAGE</h4>
                    <p>
                        We combine intelligent thinking with stimulating design to keep your brand engaging and help challenging brands find their clarity.
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="title">CUSTOMIZATION</h4>
                    <p>
                        Make any design your own using the Style Editor. Personalize fonts, colors, and layouts to create the custom look you want.
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="title">SOCIAL</h4>
                    <p>
                        Import. Sync. Publish. Make your website the center of your online identity on the web with our powerful social integrations.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 feature-list">
                <div class="col-md-4">
                    <h4 class="title">TEMPLATES</h4>
                    <p>
                        Squarespace websites are created with modern browsers and mobile devices in mind. They employ the latest HTML, CSS and Javascript techniques.
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="title">CUSTOMIZATION</h4>
                    <p>
                        Make any design your own using the Style Editor. Personalize fonts, colors, and layouts to create the custom look you want.
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="title">SOCIAL</h4>
                    <p>
                        Import. Sync. Publish. Make your website the center of your online identity on the web with our powerful social integrations.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</div>

<div class="section grey">
    <div class="container">
        <div class="p-t-40 p-b-50 ">
            <div class="row">
                <div class="col-md-12">
                    <h2><span class="normal">Make life much easier</span><br>
                        download webarch full package with <span class="normal">frontend</span><button type="button" class="btn btn-primary btn-cons m-l-30">Subscribe</button></h2>
                </div>
            </div>
            <br>
            <div class="row feature-list">
                <div class="col-md-4 fadeIn animated" data-ride="animated" data-animation="fadeIn" data-delay="300">
                    <h4 class="title custom-font">MILLIONS OF POSSIBILITIES</h4>
                    <p class="p-r-50">
                        Hundreds of free desktop apps Enjoy a mobile-like app experience on your PC, with free apps and games like Facebook and Farmville 2.
                    </p>
                </div>
                <div class="col-md-4 fadeIn animated" data-ride="animated" data-animation="fadeIn" data-delay="600">
                    <h4 class="title custom-font">REAL TIME NOTIFICATIONS</h4>
                    <p class="p-r-50">
                        Stay informed with notifications from your favorite apps keeping you up to date on your emails, tweets and more.
                    </p>
                </div>
                <div class="col-md-4 fadeIn animated" data-ride="animated" data-animation="fadeIn" data-delay="900">
                    <h4 class="title custom-font">ONE CLICK AWAY</h4>
                    <p class="p-r-50">
                        Find, organize, and launch your favorite apps, sites, and files faster and easier than ever before.
                    </p>
                </div>
            </div>
        </div>
</div>
 </div>

<div class="section white">
    <div class="container">
    <h2 class="txt_align_center">Get in Touch</h2>
    <div class="help_contact viconify_message_b">
        <a href="/help/contact">
            <h3>Email Us</h3>
            <p class="txt_normal">Can’t find the answer you need? We’ve got you covered.</p>
        </a>
    </div>
    <div class="help_contact viconify_comment_b">
        <a href="/forums">
            <h3>Visit the Forums</h3>
            <p class="txt_normal">Troubleshoot issues, leave feedback, and join the conversation.</p>
        </a>
    </div>
    <div class="help_contact iconify_flag_b">
        <a href="/help/violations">
            <h3>Report a Violation</h3>
            <p class="txt_normal">When people don’t follow the rules, let us know.</p>
        </a>
    </div>
    </div>
</div>

<div class="section grey">
    <div class="container">
        <div class="p-t-40 p-b-50 ">
            <div class="row">
                <div class="col-md-12">
                    <h2><span class="normal">Make life much easier</span><br>
                        download webarch full package with <span class="normal">frontend</span><button type="button" class="btn btn-primary btn-cons m-l-30">Subscribe</button></h2>
                </div>
            </div>
            <br>
            <div class="row feature-list">
                <div class="col-md-4 fadeIn animated" data-ride="animated" data-animation="fadeIn" data-delay="300">
                    <h4 class="title custom-font">MILLIONS OF POSSIBILITIES</h4>
                    <p class="p-r-50">
                        Hundreds of free desktop apps Enjoy a mobile-like app experience on your PC, with free apps and games like Facebook and Farmville 2.
                    </p>
                </div>
                <div class="col-md-4 fadeIn animated" data-ride="animated" data-animation="fadeIn" data-delay="600">
                    <h4 class="title custom-font">REAL TIME NOTIFICATIONS</h4>
                    <p class="p-r-50">
                        Stay informed with notifications from your favorite apps keeping you up to date on your emails, tweets and more.
                    </p>
                </div>
                <div class="col-md-4 fadeIn animated" data-ride="animated" data-animation="fadeIn" data-delay="900">
                    <h4 class="title custom-font">ONE CLICK AWAY</h4>
                    <p class="p-r-50">
                        Find, organize, and launch your favorite apps, sites, and files faster and easier than ever before.
                    </p>
                </div>
            </div>
        </div>
    <p class="txt_align_center"><strong class="blue">The Vimeo Support Team is here to help around the clock Monday - Friday, with limited support on weekends.</strong></p>
</div>
</div>